* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --green-color: #38AF90;
    --white-color: #FFFFFF;
    --gray-color: #797979;
    --gray-light-color: #F0F0F0;
    --black-color: #383838;
    --red-color: #DD7E92;
    --red-button-hover-color: #eea4b4;
    --gray-light-placeholder-color: #C4C4C4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: var(--green-color);
    padding: 20px 15px;
    min-height: 90px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

header h1 {
    font-size: 24px;
    color: var(--white-color);
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header li {
    margin-right: 20px;
}

header a {
    text-decoration: none;
    font-size: 14px;
    color: var(--white-color);
}

header li img {
    width: 60px;
}

.generic-section {
    padding: 20px 15px;
}

.title-news {
    font-size: 36px;
    color: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 40px 0px;
}

.card-news {
    background-color: var(--gray-light-color);
    margin-bottom: 40px;
    border-radius: 8px;
    padding: 20px 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-news p {
    font-size: 10px;
}

.card-news-infos {
    margin-bottom: 20px;
}

.card-news-infos h3 {
    color: var(--green-color);
    font-size: 24px;
}

.card-news-infos h4 {
    color: var(--gray-color);
    font-size: 16px;
}

.card-news-infos hr {
    background-color: var(--green-color);
}

.card-news-infos p {
    color: var(--green-color);
}

.card-news-text{
    margin-bottom: 10px;
}

.card-news-text p {
    color: var(--gray-color);
}

.card-news-more h4 {
    font-size: 14px;
    color: var(--red-color);
}

.card-news-more h4:hover{
    cursor: pointer;
    color: var(--red-button-hover-color);
}

.button-more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-more button{
    min-width: 240px;
    min-height: 65px;
    background-color: var(--red-color);
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
}

.button-more button:hover {
    background-color: var(--red-button-hover-color);
    cursor: pointer;
}

.button-more h2 {
    color: var(--white-color);
    font-size: 18px;
}

.bg-light-gray{
    background-color: var(--gray-light-color);
}

.title-games{
    display: flex;
    justify-content: center;
    padding: 20px 0px 40px 0px;
}

.title-games h2 {
    color: var(--green-color);
    font-size: 36px;
}

.card-games {
    display: flex;
    justify-content: space-between;
    min-height: 320px;
    background-color: var(--gray-light-color);
}

.card-games img {
    width: 300px;
    border-radius: 8px 8px 0px 0px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.card-infos h3 {
    font-size: 18px;
    color: var(--gray-color);
}

.card-infos p {
    font-size: 12px;
    color: var(--gray-color);
}

.card-infos span{
    font-weight: bold;
    font-size: 14px;
    color: var(--green-color);
}

.card-infos h4 {
    margin-top: 15px;
    font-size: 36px;
    color: var(--green-color);
}

.games-container{
    margin-bottom: 50px;
}

.title-signup {
    display: flex;
    justify-content: center;
    padding: 20px 0px 40px 0px;
}

.title-signup h2 {
    font-size: 36px;
    color: var(--gray-color);
}

.form-signup {
    background-color: var(--gray-light-color);
    padding: 40px 80px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.form-signup-input {
    margin-bottom: 20px;
}

.form-signup-input input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--gray-color);   
    border-radius: 4px;
    padding-inline-start: 20px;
    color: var(--gray-color);
}

.form-signup-input input:focus {
    outline: 1px solid var(--gray-color);
    color: var(--gray-color);
}

.form-signup-input input::placeholder {
    color: var(--gray-light-placeholder-color);
}

.form-signup-radio {
    margin-bottom: 30px;
}

.form-signup-radio label {
    color: var(--gray-color);
    font-size: 16px;
}

.form-signup-radio-types label {
    font-size: 16px;
    color: var(--gray-color);
}

.form-signup-radio-types input{
    display: none;
}

.form-signup-radio-types input + label:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}

.form-signup-radio-types input:checked + label:before {
    background-color: var(--white-color);
    box-sizing: border-box;
    border: 5px solid var(--gray-color);
    padding: 4px;
}

.form-signup-news {
    margin-bottom: 30px;
}

.form-signup-news input {
    display: none;
}

.form-signup-news {
    font-size: 16px;
    color: var(--gray-color);
}

.form-signup-news input + label:before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}
  
.form-signup-news input:checked + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: var(--gray-color);
    background-position: center;
    border: none;
    padding: 1px;
}

.form-signup-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-signup-buttons input {
    height: 65px;
    width: 240px;
}

.form-signup-buttons-submit input{
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.form-signup-buttons-submit input:hover {
    background-color: var(--red-button-hover-color);
    cursor: pointer;
}

.form-signup-buttons-reset input{
    background-color: var(--white-color);
    color: var(--red-color);
    font-weight: bold;
    font-size: 18px;
    border: 3px solid var(--red-color);
    border-radius: 8px;
}

.form-signup-buttons-reset input:hover {
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}

.signup-container {
    margin-bottom: 50px;
    max-width: 800px;
}

footer {
    padding: 20px 15px;
    min-height: 190px;
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.footer-container a{
    text-decoration: none;
    color: var(--white-color);
}

.footer-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-infos p {
    margin-right: 10px;
}

.footer-terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




